<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/form-styles.css">
    <link rel="stylesheet"
          href="/css/bootstrap.min.css">
    <link href="/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap-select.css" />
    <title>Calendario de Festivos</title>
</head>
<body>

<form id="dateForm" action="guardianes/calendars" method="POST">
    <div id="datepicker" class="my-2 row d-flex justify-content-center"></div>
    <div style="text-align: center;">
        <button type="submit" style="display: inline-block;">Guardar festivos</button>
    </div>

</form>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.min.js"></script>

<script src="/js/popper.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<!-- Agrega el archivo de idioma para español -->
<script src="/js/bootstrap-datepicker.es.min.js"></script>
<script src="/js/calendar.js"></script>
</body>
</html>