<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title th:text="#{messages.tasks.title}"></title>
</head>
<body>
<p th:text="#{messages.tasks.head}">Here is your task list</p>
<table class="table table-hover my-2" id="taskTable">
		<thead>
			<tr>
				<th scope="row" th:text="#{tasks.name}"></th>
				<th scope="row" th:text="#{tasks.owner}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${tasks}">
				<td th:text="${task.name}">Error</td>
				<td th:text="${task.actualOwner}">Error</td>
			</tr>
		</tbody>
		</table>
</body>
</html>