<!DOCTYPE html>
<!-- Ayuda con edición html https://www.w3schools.com/howto/default.asp -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" th:href="@{/css/index-styles.css}">
</head>
<body>

<div class="topnav">
  <a class="active" th:href="@{/}">Menú principal</a>
  <a th:href="@{/guardianes/calendars}">Establecer festivos</a>
  <a th:href="@{/guardianes/schedules}">Validar Planificación</a>
  <a th:href="@{/logout}">Cerrar sesión</a>
</div>
</body>
</html>