<!DOCTYPE html>
<!-- Ayuda con edición html https://www.w3schools.com/howto/default.asp -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" th:href="@{/css/index-styles.css}">
</head>
<body>

<div class="topnav">
  <a class="active" th:href="@{/}">Menu principal</a>
  <a th:href="@{/guardianes/calendars}">Establecer festivos</a>
  <a th:href="@{/guardianes/schedules}">Validar Planificacion</a>
</div>
</body>
</html>